* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-font-color: #1a3e70;
    --secondary-font-color: rgb(46, 45, 45);
    --primary-gradient-color: #3870ba;
    --secondary-gradient-color: #5e65db;

}

body {
    /* Font */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


/* Reuasable class*/
.horizontal-margin {
    margin: 30px 10%;
}



/* Nav Bar*/
.navbar-image-background {
    background-image: url(images/hero.jpg);
    height: 350px;
    background-size: cover;
    background-position: center;
    box-shadow: inset 15px -20px 19px 0 rgb(1 1 1 / 28%), -10px 20px 20px 0 rgb(1 1 1 / 28%);

    .navbar {
        background-color: white;
        width: 100%;
        height: 70px;


        .navbar__logo img {
            margin: 15px 0px 0 0;
            float: left;
            width: 20%;
            height: 40px;
        }

        .navbar__list-items {
            height: 40px;
            margin: 10px 15px 0 0;
            float: right;


            ul {
                list-style: none;

                a {
                    margin: 0 10px;
                    text-decoration: none;
                    text-transform: capitalize;
                    color: black;
                    display: inline-block;
                }

                li {
                    display: inline-block;
                }



            }

            .active {
                display: flex;
                align-items: center;
                background: linear-gradient(var(--primary-gradient-color), var(--secondary-gradient-color));
                height: 50px;
                border-radius: 30px;
                padding: 10px;
            }

        }

        .clear {
            clear: both;
        }

    }


}


/* hero section  */

.hero {
    width: 80%;
    text-align: center;

    .hero__title,
    .hero__description {
        padding-bottom: 10px;

    }

    .hero__title {
        font-size: 20px;
        font-weight: 600;
        color: var(--primary-font-color);
    }

    .hero__description {
        font-size: 1rem;
        color: gray;
    }

    .hero__button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        padding: 15px;
        height: 50px;
        width: 40%;
        background: linear-gradient(var(--primary-gradient-color), var(--secondary-gradient-color));
        font-size: 18px;
        color: white;
        border-radius: 20px;
    }

}


/* UNDER HERO SECTION*/

.under-hero {

    .under-hero__title {
        text-align: center;
        margin-bottom: 30px;
        font-size: clamp(1.2rem, 2vw, 1.5rem);
        color: var(--primary-font-color);
    }

    .under-hero__content {
        display: flex;
        justify-content: space-around;
    }

    .item {
        width: 26%;

        .item__title,
        .item__description,
        .item__link {
            margin-bottom: 15px;

        }

        .item__title,
        .item__description {
            font-weight: normal;
        }

        .item__description,
        .item__link {
            font-size: small;
            color: gray;
        }

        .fa-pills,
        .fa-moon,
        .fa-pagelines {
            margin-bottom: 30px;
            font-size: 25px;
        }

        .fa-pills {
            color: #a2a6f5;
            transform: rotate(40deg);
        }

        .fa-moon {
            color: #ec8be3;
        }

        .fa-pagelines {
            color: rgb(147, 249, 147);
            transform: rotate(-40deg);
        }



    }


}

/* Picture content section */

.picture {
    height: 200px;
    margin-top: 100px;
    background-image: url(images/content.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 20px;

    &::after {
        content: "";
        position: absolute;
        top: 5%;
        right: 0;

        width: 100%;
        height: 5%;
        box-shadow: 0px -9px 19px 22px white, inset 12px -16px 54px 43px white;
    }

    &::before {
        content: "";
        position: absolute;
        bottom: -10%;
        right: 0;
        left: 0;
        width: 100%;
        height: 2%;
        box-shadow: 0px -17px 19px 22px white, inset 0 43px 0px 6px white;
    }

}


/* Card Section */

.cards {
    height: 400px;

    .card__title {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        color: var(--primary-font-color);
    }

    .card__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
         height: 400px;
    }

    .cards__item {
       text-align: start;
        margin-top: 30px;
        background: linear-gradient(var(--primary-gradient-color), var(--secondary-gradient-color));
        height: 65%;
        width: 26%;
        border-radius: 20px;
        padding: 10px;


        .card__quote:before {
            display: block;
            font-size: clamp(3rem, 6vw, 4rem);
            content: open-quote;
            height: 1px;
            padding-bottom: 50px;
            color: #598fc2;
        }

        .card__description {
            font-size: clamp(0.9rem, 24%, 1.5rem);
            color: white;
            padding-bottom: 10px;
        }

        .card__sous-description {
            color: rgb(232, 232, 232);
            padding-bottom: 10px;
        }

        .card__etoiles {
            margin: 0;
            padding-left: 0;
            font-size: calc(1rem - 5px);
            color: #f8d22d;
        }


    }

}